In [1]:
# NIM/Nama  : 16521076/Tabitha Permalla
# Tanggal   : 01/12/2021
# Deskripsi : Program menuliskan (1) berapa pengguna tidak aktif yang berusia di atas 50 tahun;
#             (2) ID pengguna dengan nominal limit kartu kredit terbesar;
#             (3) berapa pengguna dengan tipe kartu Blue dan lama penggunaan kartu kredit dalam bulan di atas 40
#             (4) banyak pengguna dengan total nominal yang belum dibayar pengguna kartu kredit sama dengan 0 untuk masing-masing kategori penghasilan
#             (5) 5 ID pengguna aktif dengan banyak bulan kartu kredit tidak aktif dalam 12 bulan terakhir terbanyak

In [2]:
# Import Library
import pandas as pd

# Import Data
df = pd.read_csv("P05-01.csv")

In [8]:
# Berapa pengguna tidak aktif (Attrited Customer) yang berusia di atas 50 tahun
print(len(df.loc[(df["Attrition_Flag"] == "Attrited Customer") & (df["Customer_Age"] > 50)]))

506

In [27]:
# ID pengguna dengan nominal limit kartu kredit terbesar
Cmax = df["Credit_Limit"].max()
print(df.loc[(df["Credit_Limit"] == Cmax), "CLIENTNUM"])

6        810347208
45       712661433
61       712030833
65       788979258
70       715971108
           ...
10088    709188108
10095    789023508
10098    716644008
10110    718225683
10112    708564858
Name: CLIENTNUM, Length: 508, dtype: int64

In [19]:
# Berapa pengguna dengan tipe kartu Blue dan lama penggunaan kartu kredit dalam bulan di atas 40
print(len(df.loc[(df["Card_Category"] == "Blue") & (df["Months_on_book"] > 40)]))

2348

In [25]:
# banyak pengguna dengan total nominal yang belum dibayar pengguna kartu kredit sama dengan 0 untuk masing-masing kategori penghasilan
df1 = df.loc[df["Total_Revolving_Bal"] == 0]
print(df1["Income_Category"].value_counts())

Less than $40K    899
$40K - $60K       420
$80K - $120K      344
$60K - $80K       340
Unknown           303
$120K +           164
Name: Income_Category, dtype: int64

In [37]:
# 5 ID pengguna aktif (Existing Customer) dengan banyak bulan kartu kredit tidak aktif dalam 12 bulan terakhir terbanyak
df2 = df.loc[df["Attrition_Flag"] == "Existing Customer"]
print(df2.sort_values(["Months_Inactive_12_mon"], ascending=[False])[:5])

      CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
3220  709381383  Existing Customer            49      M                4
7589  710542983  Existing Customer            48      F                4
2060  789607983  Existing Customer            38      M                3
749   711668283  Existing Customer            48      M                4
6023  710864358  Existing Customer            51      F                2

     Education_Level Marital_Status Income_Category Card_Category  \
3220        Graduate        Married     $60K - $80K          Blue
7589        Graduate        Married  Less than $40K          Blue
2060     High School        Married     $40K - $60K          Blue
749       Uneducated        Married    $80K - $120K          Blue
6023       Doctorate        Married         Unknown          Blue

      Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
3220              36                       6        2952.0
7589              21                       6        1930.0
2060              32                       6        8603.0
749               37                       6       30948.0
6023              45                       6        6501.0

      Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
3220                 2517             3830              77
7589                    0             5033              87
2060                 1046             1758              40
749                  2404             1511              35
6023                    0             5074              81

      Avg_Utilization_Ratio
3220                  0.853
7589                  0.000
2060                  0.122
749                   0.078
6023                  0.000